
alphabets/\.ipynb_checkpoints/

learning python/.ipynb_checkpoints/

lil_problems/.ipynb_checkpoints/

classic/.ipynb_checkpoints/

job search optimizer/.ipynb_checkpoints/

board_scheduler/.ipynb_checkpoints/

bio models/.ipynb_checkpoints/

.ipynb_checkpoints/
